body{
    background-color:#cccccc;

}
h1{
    color: maroon;
}
 .varios paises{
    width: 100px;

 }

 .testes em laboratorios{
    width: 100px;
 }

 .grade aradora.jpeg{ 
 width : 100px;   
 }

 "plantadeira"{
    width : 100px;
 }
